@using Microsoft.AspNet.Identity
@using Connect2Fit.Models;
@model ScheduleItem
@{
    ViewBag.Title = "Client Room";
}

<h2>Client Room</h2>
<div ng-app="Room" class="ng-cloak" ng-controller="webRTC">
    <div id="status">Connecting.</div>
    <div class="row">
        <div class="col-md-4" id="intructorVideos">

            <video autoplay="autoplay" id="callerVideo"></video>
            <span> Instructor 
            <span ng-if="(instructor | InstructorConnected:connectedClients) == true" class="label label-success">Online</span>
            <span ng-if="(instructor | InstructorConnected:connectedClients) == false" class="label label-danger">Offline</span> 
        </div>
        <div id="" class="col-md-7 .col-md-offset-1">
            <span>Clients avatar to go here</span>
        </div>
    </div>
    <div id="connectedUsers">
        <h4>Connected Users</h4>
        <span ng-repeat="client in connectedClients">{{client}}</span>
    </div>
    <div  ng-controller="Chat" >
        <h2>Client Classes</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Person</th>
                    <th>Message</th>

                </tr>
            </thead>
            <tbody>
                <tr class="animation" ng-repeat="message in messages">
                    <td>{{message.person}}</td>
                    <td>{{message.text}}</td>

                </tr>
            </tbody>

        </table>
        <form>
            <input type="text" ng-model="newMessage" />
            <input type="submit" ng-click="addMessage()" value="Save" />
        </form>


    </div>
</div>


@section scripts {
<script src='~/Scripts/angular.js'></script>
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/signalr/hubs"></script>
    <link rel="stylesheet" type="text/css" href="http://ec2-52-64-224-50.ap-southeast-2.compute.amazonaws.com:8080/easyrtc/easyrtc.css" />

    <!-- Assumes global locations for socket.io.js and easyrtc.js -->
    <script src="http://ec2-52-64-224-50.ap-southeast-2.compute.amazonaws.com:8080/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="http://ec2-52-64-224-50.ap-southeast-2.compute.amazonaws.com:8080/easyrtc/easyrtc.js"></script>
    <!-- <script type="text/javascript" src="http://ec2-52-64-224-50.ap-southeast-2.compute.amazonaws.com:8080/demos/js/demo_audio_video_simple.js"></script> -->
    <script type="text/javascript">


        //signalr connection
        chat = $.connection.roomHub;
        $.connection.hub.start(
            function () {
                chat.server.joinRoom(@Model.id);
            }).done(function () {
                //closing stuff here
                //chat.server.leaveRoom(@Model.id);
            });



        var app = angular.module('Room', []);
        app.controller('Chat', function ($scope, $http) {
            var groupId = @Model.id;
            $scope.userId = "@User.Identity.Name";



            //hold a list of all the classes
            $scope.messages = [];

            $scope.addMessage = function () {
                //add message
                var newMessage = { person: $scope.userId, text: $scope.newMessage }
                $scope.messages.push(newMessage);
                chat.server.message(groupId, newMessage);
                $scope.newMessage = "";
            }

            //onload
            var init = function() {
                //DO STUFF HERE

            }();

            //signalr functions
            chat.client.message = function (message) {

                console.log(message);
                $scope.messages.push(message);
                $scope.$apply();

            }

            chat.client.recievePoint = function(point) {
                console.log(point);

            }


        });

        function testSendingPoint() {
            point = {clientId: 1, pointId: 2, x: 3, y: 4, z: 5 }
            chat.server.sendpoint(@Model.id, point);
            return "sent";

        }


        app.controller('webRTC', function ($scope, $http) {
            $scope.instructor = "@Model.instructor.Email";
            $scope.connectedClients = []

            $(document).ready(function() {
                connect();

            })

            var selfEasyrtcid = "";


            function connect() {
                easyrtc.setSocketUrl("http://ec2-52-64-224-50.ap-southeast-2.compute.amazonaws.com:8080");
                //easyrtc.setVideoDims(640, 480);
                easyrtc.enableAudio(false);
                easyrtc.enableVideo(false);
                easyrtc.enableDataChannels(false);
                easyrtc.setUsername("@User.Identity.Name");
                easyrtc.joinRoom("@Model.id", null, null, null)
                easyrtc.setRoomOccupantListener(convertListToButtons);

                //easyrtc.easyApp("easyrtc.audioVideoSimple", null, ["callerVideo"], loginSuccess, loginFailure);
                easyrtc.connect("easyrtc.audioVideoSimple", loginSuccess, loginFailure);
            }

            easyrtc.setStreamAcceptor(function (easyrtcid, stream) {
                //setUpMirror();
                var video = document.getElementById("callerVideo");
                easyrtc.setVideoObjectSrc(video, stream);
                //enable("hangupButton");
            });


            function clearConnectList() {
                $scope.connectedClients = [];
            }


            function convertListToButtons(roomName, data, isPrimary) {
                console.log(roomName);
                console.log(data);
                console.log(isPrimary);
                clearConnectList();
                for (var easyrtcid in data) {

                    $scope.connectedClients.push(easyrtc.idToName(easyrtcid));
                    
                }
                $scope.$apply();

            }


            function performCall(otherEasyrtcid) {
                easyrtc.hangupAll();

                var successCB = function () { };
                var failureCB = function () { };
                easyrtc.call(otherEasyrtcid, successCB, failureCB);
            }


            function loginSuccess(easyrtcid) {
                selfEasyrtcid = easyrtcid;
                document.getElementById("status").innerHTML = "Connected";
            }


            function loginFailure(errorCode, message) {
                easyrtc.showError(errorCode, message);
            }
        })

        angular.module('Room').filter('InstructorConnected', function() {
            return function(user, onlineUsers) {
                console.log(user);
                //console.log("here");
                console.log(onlineUsers);
           

                for (var i in onlineUsers) {

                    if (onlineUsers[i] == user) {
                        
                        return true;
                    }
                }
                return false;

           
            };
        });


    </script>

}